{% extends 'public.html' %}
{% block content %}

        <div class="hero-slider">

            <div class="single-slide" style="background-image: url(/img/banner.jpg)">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slide-content">
                                    <h2>Recipe Search Engine</h2>
                                    <p>Search what you like and satisfy your stomach</p>
                                    <div class="slide-btn">
                                        <a href="/recipes" class="button" style="width: 120px; text-align: center">Search Now</a>
                                        <a href="/about" class="button-2" style="width: 120px; text-align: center">About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-area sp">
            <div class="container">
                <div class="row">
                    {% for foo in re %}
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team" style="padding: 10px">
                        <div class="inner">
                            <a href="\recipe\{{ foo['id'] }}" target="_blank">
                                <div class="team-img">
                                    <img src="{{ foo['photo_url'] }}" alt="{{ foo['name'] }}" style="object-fit:cover; height: 300px; width: 800px">
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="service-area bg2 sp">
            <div class="container">
                <div class="section-title">
                    <h2>Our Characteristics</h2>
                    <p>Meet your different search needs for recipes</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <h4>Regular Search</h4>
                            </div>
                            <div class="content">
                                <p>Search for the title, description and ingredients of the recipe, using BM25 and TFIDF scores to show the most relevant results.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                                <h4>Ingredient Search</h4>
                            </div>
                            <div class="content">
                                <p>Search by ingredients, then recommend recipes that contain specific ingredients to solve the problem of idle ingredients. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <h4>Time Filtering</h4>
                            </div>
                            <div class="content">
                                <p>Whether it is a light meal at work or a dinner party carefully prepared, time filtering gives what you want.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-tag"></i>
                                </div>
                                <h4>Autocomplete</h4>
                            </div>
                            <div class="content">
                                <p>Through the front-end and back-end asynchronous update technology, the key words automatically associates the recipe names.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-list"></i>
                                </div>
                                <h4>Popularity Ranking</h4>
                            </div>
                            <div class="content">
                                <p>Allow to sort recipes according to the number of reviews or score of the recipe, saving the time in searching for your favorite recipes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <h4>Recipes Recommendation</h4>
                            </div>
                            <div class="content">
                                <p>Combined with the most advanced machine learning algorithm KNN, we recommend the most similar recipes to the current one.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-area sp">
            <div class="container">
                <div class="section-title">
                    <h2>Our team</h2>
                    <p>Team support throughout the entire process from concept to implementation</p>
                </div>
                <div class="testimonial-slider bordered">
                    <div class="single-slide" style="padding: 20px">
                        <div class="inner">
                            <p>Establish crawler templates to crawl recipes, improve front-end pages, and build asynchronous interactive technology to optimize search experience.</p>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="/img/3.jpg" alt="client">
                                </div>
                                <div class="client-data">
                                    <h4>Yefei Chen</h4>
                                    <span>Data collection</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide" style="padding: 20px">
                        <div class="inner">
                            <p>Responsible for all code parts, including project setup, index construction, completion of recommendation and search modules, back-end and front-end programming.</p>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="/img/2.jpg" alt="client">
                                </div>
                                <div class="client-data">
                                    <h4>Cyan Hou</h4>
                                    <span>Coding</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide" style="padding: 20px">
                        <div class="inner">
                            <p>Responsible for UI design and UX code building, draw the overall prototype of the website, collect front-end materials, and assist in improving the front-end page.</p>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="/img/1.png" alt="client">
                                </div>
                                <div class="client-data">
                                    <h4>Chuqiang Lin</h4>
                                    <span>UX</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide" style="padding: 20px">
                        <div class="inner">
                            <p>Responsible for task communication among members, overall project planning, project progress follow-up, project summary report and project report writing.</p>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="/img/4.jpg" alt="client">
                                </div>
                                <div class="client-data">
                                    <h4>Xiaohan Liu</h4>
                                    <span>Management</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}