{% extends 'public.html' %}
{% block content %}

        <div class="sp" style="padding-top: 30px; padding-bottom: 30px">
            <div class="container">
                <div class="row" style="margin-bottom: 5px" {# style="margin-bottom: 20px; display: flex; align-items: center" #}>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input id="keys" type="text" class="form-control" placeholder="I want to make...">
                            <span class="input-group-btn">
                                <buttton class="btn btn-default" id="search" type="submit">Search</buttton>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom: 10px; display: flex; align-items: center">
                        <input type="checkbox" id="is_title" style="margin: 0px" ><span width="400px">&nbsp;Only Search Title</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="is_advance" style="margin: 0px"><span width="400px">&nbsp;Advanced Search</span>
                    </div>
                </div>
                <div id="advance">
                    <div class="row" style="justify-content: right">
                        <div class="col-sm-4" style="margin-bottom: 5px">
                            <input class="form-control" id="ingredients" type="text" placeholder="Ingredients">
                        </div>
                        <div class="col-sm-4" style="margin-bottom: 5px">
                            <input class="form-control" id="time_left" type="text" placeholder="From Time Cost">
                        </div>
                        <div class="col-sm-4" style="margin-bottom: 5px">
                            <input class="form-control" id="time_right" type="text" placeholder="To Time Cost">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq-area-2 spb">
            <div class="container" id="search-results"></div>
        </div>

{% endblock %}
{% block jscode %}

    <script>
        $("#keys").on("keypress", function (event) {
            if (event.keyCode == 13) {
                $("#search").trigger("click");
            }
        });

        $("#ingredients").on("keypress", function (event) {
            if (event.keyCode == 13) {
                $("#search").trigger("click");
            }
        });

        $("#time_left").on("keypress", function (event) {
            if (event.keyCode == 13) {
                $("#search").trigger("click");
            }
        });

        $("#time_right").on("keypress", function (event) {
            if (event.keyCode == 13) {
                $("#search").trigger("click");
            }
        });

        $("#search").on("click", function () {
            var keys = $("#keys").val();
            var is_title = $("#is_title").prop("checked");
            var is_advance = $("#is_advance").prop("checked");
            var ingredients = $("#ingredients").val();
            var time_left = $("#time_left").val();
            var time_right = $("#time_right").val();

            var is_correct_time = true;
            if ($.trim(time_left).length != 0) {
                if ($.isNumeric(time_left) == false) {
                    is_correct_time = false;
                }
                if (parseInt(time_left) < 0) {
                    is_correct_time = false;
                }
            }
            if ($.trim(time_right).length != 0) {
                if ($.isNumeric(time_right) == false) {
                    is_correct_time = false;
                }
                if (parseInt(time_right) < 0) {
                    is_correct_time = false;
                }
            }

            if (!is_correct_time) {
                alert("Please input the correct number!");
            } else if ((is_title || !is_advance) && $.trim(keys).length == 0) {
                alert("Search for something you want!");
            } else if ($.trim(keys).length == 0 && $.trim(ingredients).length == 0) {
                alert("Try to search something!");
            } else {
                var data = {
                    data: JSON.stringify({
                        "is_title": is_title,
                        "is_advance": is_advance,
                        "keys": keys,
                        "ingredients": ingredients,
                        "time_left": time_left,
                        "time_right": time_right
                    })
                };

                $.ajax({
                    url: "/results",
                    type: "post",
                    data: data,
                    success: function (response) {
                        $("#search-results").html(response)
                    }
                });
            }
        });
    </script>

    {# yefei add #}
    <script>
        $(document).ready(function () {
            $("#advance").hide();

            $("#is_advance").change(function () {
                if (this.checked) {
                    $("#advance").show();
                } else {
                    $("#advance").hide();
                }
            });

            $("#keys").bind("input", function () {
                $.ajax({
                    url: "/autocomplete",
                    type: "post",
                    data: {
                        keys: $("#keys").val()
                    }
                });
            });

            $( "#keys" ).autocomplete({
                source: function (request, response) {
                    lists = [];
                    $.ajax({
                        url: "/autocomplete",
                        type: "post",
                        dataType: "json",
                        data: {
                            keys: $("#keys").val()
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                }
            });
        });
    </script>
    {# yefei add #}

{% endblock %}